@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl/Museosanscyrl500.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.page-container {
    width: 100%;
    display: grid;
    grid-template-rows: 0fr 0fr 0fr;
    grid-template-areas: 'nav' 'header' 'main';
}

.nav {
    font-family: "Museo Sans Cyrl";
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.logo a{
    font-family: "Museo Sans Cyrl";
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
}

.nav__list {
    position: absolute;
    background-color: #d3d3d3;
    width: 200px;
    right: 20px;
    top: 80px;
    margin: 0;
    display: none;
}

.active {
    display: inline-block;
}

.nav__list-item {
    padding: 10px;
}

.nav__list-item:hover {
    background-color: #e2e2e2;
}

.nav__list-item a {
    text-decoration: none;
    color: #000000;
}

.button {
    border: none;
    background-color: #4F62F6;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 60px;
    font-size: 14px;
    font-weight: bold;
}

.button:hover {
    background-color: #7181FC;
}

.button:active {
    background-color: #354BF4;
}

.button:disabled {
    background-color: #828282;
}

.nav__buttons {
    display: flex;
    align-items: center;
}

.nav__sign-in-button {
    display: none;
    font-size: 14px;
    font-weight: 500;
    width: 167px;
    height: 40px;
    margin-left: 24px;
}

.nav__select-button {
    border: 1px solid #000000;
    border-radius: 60px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 80px;
    display: none;
    font-size: 15px;
    font-weight: bold;
}

.nav__switch-language {
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.nav__bars-button {
    border: none;
    background-color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0;
    font-size: 24px;
    margin-left: 50px;
}

.header {
    background-color: rgba(79, 98, 246, 0.1);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__text-container {
    text-align: center;
}

.main-heading {
    font-family: "Museo Sans Cyrl";
    font-size: 40px;
    font-weight: bold;
    line-height: 44px;
    color: #333333;
}

.heading {
    font-family: "Museo Sans Cyrl";
    font-size: 40px;
    font-weight: bold;
    line-height: 44px;
    position: relative;
}

.heading::after {
    content: '';
    background-color: rgba(79, 98, 246, 0.1);
    width: 214px;
    height: 50px;
    position: absolute;
    left: 0;
}

.header__heading {
    padding-bottom: 24px;
    text-align: left;
}

.header__description {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 30px;
    color: #4F4F4F;
    padding-bottom: 30px;
    text-align: left;
}

.header__start-trading-button {
    width: 280px;
    height: 54px;
}

.header__image {
    width: 280px;
    height: 301px;
    padding-top: 30px;
}

.main-section {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding: 80px 20px;
}

.getting-started__heading {
    width: 250px;
}

.getting-started__steps {
    padding: 40px 0;
    display: grid;
    grid-template-rows: repeat(4, 0fr);
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 24px;
    width: 280px;
    margin: 0 auto;
}

.getting-started__step {
    font-family: "Museo Sans Cyrl";
    border: 2px solid #4F62F6;
    border-radius: 30px;
    width: 280px;
    padding: 24px;
    box-sizing: border-box;
    /*margin-bottom: 24px;*/
}

.step-order {
    font-size: 15px;
    color: #4F62F6;
    padding-bottom: 10px;
}

.step-heading {
    font-size: 24px;
    color: #000000;
    padding-bottom: 24px;
}

.step-description {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 30px;
    color: #4f4f4f;
}

.people-love {
    position: relative;
    padding: 80px 0;
}

.slider-wrapper {
    padding: 80px 0;
    /*position: relative;*/
}

.slide-content {
    font-family: "Museo Sans Cyrl";
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.active-slide {
    display: flex;
}

.slider-image-wrapper {
    border-radius: 50px;
    overflow: hidden;
}

.slide-image {
    height: 73px;
    width: 73px;
}

.slide-title {
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0;
}

.slide-subtitle {
    font-family: Montserrat;
    font-size: 16px;
    color: #333333;
}

.slide-subtitle::after {
    content: ' ';
    display: block;
    background-image: url("../images/slider/braces.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 30px;
    margin: 24px auto;
}

.slide-description {
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    height: 232px;
    width: 280px;
    overflow: hidden;
}

.slide-number {
    font-size: 15px;
    color: #4F62F6;
    padding-top: 31px;
}

.slider-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 65px;
}

.slider-button {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    width: 48px;
    height: 48px;
    border: 1px solid #E0E0E0;
    border-radius: 50px;
    cursor: pointer;
}

.slider-button:hover {
    border: 1px solid #6248FF;
}

.slider-button:active {
    background-color: #354BF4;
}

.frequently-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.questions-list {
    padding: 32px 0;
    width: 100%;
}

.questions-list__item {
    font-family: "Museo Sans Cyrl";
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #333333;
    padding: 24px 16px;
    border: 2px solid #4F62F6;
    border-radius: 15px;
    margin-bottom: 16px;
}

.questions-list__item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions-list__item-title p {
    width: 189px;
}

.questions-list__item-title i {
    cursor: pointer;
}

.question-list__item-description {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #4f4f4f;
    padding: 24px 0;
    display: none;
}

.visible {
    display: block;
}

.contact-us {
    padding: 48px 20px;
    background-color: rgba(79, 98, 246, 0.1);
}

.contact-us__text-container {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 27px;
    color: #4f4f4f;
}

.contact-us__description {
    font-size: 18px;
    line-height: 30px;
    padding: 24px 0;
}

.contact-info {
    padding: 16px 0;
}

.contact-info h3 {
    font-family: Museo Sans Cyrl;
    font-size: 15px;
    font-weight: bold;
    line-height: 16px;
    padding-bottom: 8px;
}

.form-container {
    border: 2px solid #4F62F6;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 48px 16px;
    text-align: center;
    position: relative;
}

.form-input {
    margin: 0 auto 24px;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 3px;
}

.input-message {
    height: 89px;
    margin-bottom: 48px;
}

.submit-button {
    width: 172px;
    height: 54px;
}

.form-input::-webkit-input-placeholder {
    font-family: Montserrat;
    padding: 10px;
}

.valid {
    border: 1px solid #0EAC00;
}

.invalid {
    border: 1px solid #EB5757
}

.error-message {
    position: absolute;
    font-family: "Museo Sans Cyrl";
    font-size: 15px;
    color: #EB5757;
}

.name-error {
    top: 90px;
    left: 16px;
}

.email-error {
    top: 154px;
    left: 16px;
}

.footer {
    font-family: "Museo Sans Cyrl";
    font-size: 15px;
    font-weight: bold;
    padding: 46px 20px;
    display: grid;
    /*grid-row-gap: 32px;*/
}

.footer-logo {
    text-align: center;
    padding-bottom: 46px;
}

.sections-list a{
    text-decoration: none;
    color: #333333;
}

.list-item {
    padding-bottom: 32px;
}

.footer-text-heading {
    font-size: 18px;
    width: 210px;
}

.footer-text-description {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #4F4F4F;
    padding: 16px 0 24px;
}

.copyright-list {
    text-align: center;
    color: #828282;
    font-family: Montserrat;
    font-weight: normal;
}

.copyright-list-item {
    padding: 16px 0;
}


/*Media requests*/

/*Tablet*/
@media screen and (min-width: 768px) {
    .nav {
        padding: 0 40px;
    }

    .nav__list {
        right: 40px;
    }

    .nav__sign-in-button {
        display: inline-block;
    }

    .heading::after {
        width: 365px;
        height: 72px;
        left: 0;
    }

    .header {
        padding: 40px 100px 24px;
    }

    .header__text-container {
        padding-top: 32px;
    }

    .header__heading {
        font-size: 64px;
        line-height: 72px;
        padding-bottom: 32px;
        text-align: center;
    }

    .header__description {
        padding-bottom: 48px;
        text-align: center;
    }

    .header__image {
        width: 418px;
        height: 450px;
    }

    .main-section {
        padding: 120px 40px;
    }

    .getting-started__heading {
        width: 419px;
        font-size: 56px;
        line-height: 66px;
    }

    .getting-started__steps {
        position: relative;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 135px;
        width: 688px;
    }


    .getting-started__step {
        width: 329px;
        padding: 32px;
    }

    .register {
        grid-area: 1 / 1 / 3 / 2;
    }

    .register::after {
        content: ' ';
        width: 195px;
        height: 58px;
        border-top: 2px dashed #6248FF;
        border-right: 2px dashed #6248FF;
        border-radius: 0 30px 0 0;
        position: absolute;
        left: 327px;
        top: 195px;
    }

    .verification {
        grid-area: 2 / 2 / 4 / 3;
    }

    .verification::after {
        content: ' ';
        width: 195px;
        height: 58px;
        border-top: 2px dashed #6248FF;
        border-left: 2px dashed #6248FF;
        border-radius: 30px 0 0 0;
        position: absolute;
        left: 163px;
        top: 406px;
    }

    .deposit-funds {
        grid-area: 3 / 1 / 5 / 2;
    }

    .deposit-funds::after {
        content: ' ';
        width: 195px;
        height: 58px;
        border-top: 2px dashed #6248FF;
        border-right: 2px dashed #6248FF;
        border-radius: 0 30px 0 0;
        position: absolute;
        left: 327px;
        top: 620px;
    }

    .start-trading {
        grid-area: 4 / 2 / 6 / 3;
    }

    .people-love__heading {
        width: 400px;
        font-size: 56px;
        line-height: 66px;
    }

    .people-love__heading::after{
        content: '';
        background-color: rgba(79, 98, 246, 0.1);
        width: 170px;
        height: 72px;
        position: absolute;
        left: 0;
    }

    .slider-wrapper {
        /*width: 688px;*/
        padding: 48px 0;
    }

    .slide-description {
        width: 508px;
        height: 116px;
    }

    .slider-buttons-wrapper {
        bottom: 150px;
    }

    .frequently-questions__heading {
        font-size: 56px;
        line-height: 66px;
        width: 500px;
    }

    .frequently-questions__heading::after {
        width: 265px;
    }

    .frequently-questions {
        align-items: start;
    }

    .questions-list {
        padding: 56px 0;
    }

    .form-container {
        margin-top: 32px;
    }

    .contact-us {
        padding: 48px 130px;
    }

    .contact-us__heading {
        text-align: center;
        font-size: 56px;
        line-height: 66px;
    }

    .contact-us__description {
        padding: 32px 0 48px;
    }

    .footer {
        padding: 62px 40px;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 0fr);
    }

    .footer-logo {
        padding-bottom: 54px;
    }

    .sections-list {
        display: flex;
        justify-content: space-between;

    }

    .list-item {
        padding-bottom: 40px;
    }

    .footer-text {
        width: 508px;
        margin: 0 auto;
    }

    .footer-text-heading {
        text-align: center;
        width: 100%;
    }

    .footer-text-description {
        padding: 16px 0 32px;
    }

}

/*Desktop*/
@media screen and (min-width: 1440px) {
    .nav {
        padding: 0 60px;
    }

    .nav__select-button {
        display: inline-block;
    }

    .nav__bars-button {
        display: none;
    }

    .nav__list {
        position: static;
        display: flex;
        background-color: #FFFFFF;
        width: auto;
        margin-right: 250px;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 100px 120px;
    }

    .header__text-container {
        width: 585px;
        text-align: left;
    }

    .header__heading {
        text-align: left;
    }

    .header__description {
        text-align: left;
    }

    .header__image {
        width: 482px;
        height: 519px;
        padding: 0;
    }

    .main-section {
        padding: 140px 120px;
        align-items: start;
    }

    .getting-started__steps {
        position: relative;
        display: grid;
        grid-template-rows: 12px 56px 42px 56px 42px;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 132px;
        grid-row-gap: 135px;
        width: 1098px;
    }

    .getting-started__step {
        width: 483px;
    }

    .register::after {
        width: 370px;
        height: 43px;
        left: 482px;
        top: 142px;
    }

    .verification::after {
        width: 370px;
        height: 75px;
        left: 245px;
        top: 302px;
    }

    .deposit-funds::after {
        width: 370px;
        height: 66px;
        left: 482px;
        top: 489px;
    }

    .people-love {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 140px 0;
        /*position: relative;*/
    }

    .people-love__heading {
        font-size: 56px;
        line-height: 66px;
    }

    .slider-wrapper {
        padding: 0;
        width: 585px;
    }

    .slide-content {
        align-items: start;
    }

    .slide-title {
        position: absolute;
        right: 360px;
    }

    .slide-subtitle {
        position: absolute;
        top: 180px;
        right: 320px;
    }

    .slide-subtitle::after {
        position: absolute;
        right: 275px;
        top: 30px;
    }

    .slide-description {
        text-align: start;
        width: 585px;
        height: 116px;
        padding-top: 17px;
    }

    .slider-buttons-wrapper {
        left: 0;
        top: 285px;
        width: 112px;
    }

    .contact-us {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact-us__text-container {
        width: 483px;
    }

    .form-container {
        width: 585px;
        box-sizing: border-box;
        padding: 80px;
    }

    .footer {
        padding: 62px 40px;
        justify-content: center;
        grid-template-columns: 0fr;
        grid-template-rows: 1fr 55px;
    }

    .footer-logo {
        grid-area: 1 / 1 / 2 / 2;
        padding-right: 160px;
    }

    .text-info {
        grid-area: 1 / 2 / 2 / 3;
        padding-right: 30px;
    }

    .text-legal {
        grid-area: 1 / 3 / 2 / 4;
    }

    .footer__section-list {
        grid-area: 1 / 4 / 2 / 5;
        padding-left: 160px;
    }

    .copyright-list-container {
        grid-area: 2 / 1 / 3 / 5;
    }

    .sections-list {
        flex-direction: column;
    }

    .copyright-list {
        display: flex;
        justify-content: space-between;
    }

    .footer-text {
        width: 380px;
    }

}