@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl/Museosanscyrl500.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.page-container {
    width: 100%;
    display: grid;
    grid-template-rows: 0fr 0fr 0fr;
    grid-template-areas: 'nav' 'header' 'main';
}

.nav {
    font-family: "Museo Sans Cyrl";
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 320px;*/
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.nav__logo a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
}

.nav__list {
    position: absolute;
    background-color: #d3d3d3;
    width: 200px;
    right: 20px;
    top: 80px;
    margin: 0;
    display: none;
}

.active {
    display: inline-block;
}

.nav__list-item {
    padding: 10px;
}

.nav__list-item:hover {
    background-color: #e2e2e2;
}

.nav__list-item a {
    text-decoration: none;
    color: #000000;
}

.button {
    border: none;
    background-color: #4F62F6;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 60px;
    font-size: 14px;
    font-weight: bold;
}

.button:hover {
    background-color: #7181FC;
}

.button:active {
    background-color: #354BF4;
}

.nav__buttons {
    display: flex;
    align-items: center;
}

.nav__sign-in-button {
    display: none;
    font-size: 14px;
    font-weight: 500;
    width: 167px;
    height: 40px;
    margin-left: 24px;
}

.nav__select-button {
    border: 1px solid #000000;
    border-radius: 60px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 80px;
    display: none;
    font-size: 15px;
    font-weight: bold;
}

.nav__switch-language {
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.nav__bars-button {
    border: none;
    background-color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0;
    font-size: 24px;
    margin-left: 50px;
}

.header {
    background-color: rgba(79, 98, 246, 0.1);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__text-container {
    text-align: center;
}

.heading {
    font-family: "Museo Sans Cyrl";
    font-size: 40px;
    font-weight: bold;
    line-height: 44px;
}

.header__heading {
    padding-bottom: 24px;
    text-align: left;
}

.header__description {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 30px;
    color: #4F4F4F;
    padding-bottom: 30px;
    text-align: left;
}

.header__start-trading-button {
    width: 280px;
    height: 54px;
}

.header__image {
    width: 280px;
    height: 301px;
    padding-top: 30px;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
}

.getting-started__heading {
    width: 250px;
}

.getting-started__steps {
    padding: 40px 0;
    display: grid;
    grid-template-rows: repeat(4, 0fr);
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 24px;
}

.getting-started__step {
    font-family: "Museo Sans Cyrl";
    border: 2px solid #4F62F6;
    border-radius: 30px;
    width: 280px;
    padding: 24px;
    box-sizing: border-box;
    /*margin-bottom: 24px;*/
}

.step-order {
    font-size: 15px;
    color: #4F62F6;
    padding-bottom: 10px;
}

.step-heading {
    font-size: 24px;
    color: #000000;
    padding-bottom: 24px;
}

.step-description {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 30px;
    color: #4f4f4f;
}

.slider-wrapper {
    padding: 80px 0;
    position: relative;
}

.slide-content {
    font-family: "Museo Sans Cyrl";
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.active-slide {
    display: flex;
}

.slider-image-wrapper {
    border-radius: 50px;
    overflow: hidden;
}

.slide-image {
    height: 73px;
    width: 73px;
}

.slide-title {
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0;
}

.slide-subtitle {
    font-family: Montserrat;
    font-size: 16px;
    color: #333333;
}

.slide-subtitle::after {
    content: ' ';
    display: block;
    background-image: url("../images/slider/braces.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 30px;
    margin: 24px auto;
}

.slide-description {
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    height: 232px;
    width: 280px;
    overflow: hidden;
}

.slide-number {
    font-size: 15px;
    color: #4F62F6;
    padding-top: 31px;
}

.slider-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 64px;
}

.slider-button {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    width: 48px;
    height: 48px;
    border: 1px solid #E0E0E0;
    border-radius: 50px;
}






/*Media requests*/

/*Tablet*/
@media screen and (min-width: 768px) {
    .nav {
        padding: 0 40px;
    }

    .nav__list {
        right: 40px;
    }

    .nav__sign-in-button {
        display: inline-block;
    }

    .header {
        padding: 40px 100px 24px;
    }

    .header__text-container {
        padding-top: 32px;
    }

    .header__heading {
        font-size: 64px;
        line-height: 72px;
        padding-bottom: 32px;
        text-align: center;
    }

    .header__description {
        padding-bottom: 48px;
        text-align: center;
    }

    .header__image {
        width: 418px;
        height: 450px;
    }

    .main-section {
        align-items: center;
        padding: 120px 40px;
    }

    .getting-started__heading {
        width: 419px;
        font-size: 56px;
        line-height: 66px;
    }

    .getting-started__steps {
        position: relative;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 135px;
    }


    .getting-started__step {
        width: 329px;
        padding: 32px;
    }

    .register {
        grid-area: 1 / 1 / 3 / 2;
    }

    .register::after {
        content: ' ';
        width: 195px;
        height: 58px;
        border-top: 2px dashed #6248FF;
        border-right: 2px dashed #6248FF;
        border-radius: 0 30px 0 0;
        position: absolute;
        left: 327px;
        top: 195px;
    }

    .verification {
        grid-area: 2 / 2 / 4 / 3;
    }

    .verification::after {
        content: ' ';
        width: 195px;
        height: 58px;
        border-top: 2px dashed #6248FF;
        border-left: 2px dashed #6248FF;
        border-radius: 30px 0 0 0;
        position: absolute;
        left: 163px;
        top: 406px;
    }

    .deposit-funds {
        grid-area: 3 / 1 / 5 / 2;
    }

    .deposit-funds::after {
        content: ' ';
        width: 195px;
        height: 58px;
        border-top: 2px dashed #6248FF;
        border-right: 2px dashed #6248FF;
        border-radius: 0 30px 0 0;
        position: absolute;
        left: 327px;
        top: 620px;
    }

    .start-trading {
        grid-area: 4 / 2 / 6 / 3;
    }

    .people-love__heading {
        width: 400px;
    }

    .slider-wrapper {
        width: 688px;
        padding: 48px 0;
    }

    .slide-description {
        width: 508px;
        height: 116px;
    }

    .slider-buttons-wrapper {
        bottom: 150px;
    }


}

/*Desktop*/
@media screen and (min-width: 1440px) {
    .nav {
        padding: 0 60px;
    }

    .nav__select-button {
        display: inline-block;
    }

    .nav__bars-button {
        display: none;
    }

    .nav__list {
        position: static;
        display: flex;
        background-color: #FFFFFF;
        width: auto;
        margin-right: 250px;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 100px 120px;
    }

    .header__text-container {
        width: 585px;
        text-align: left;
    }

    .header__heading {
        text-align: left;
    }

    .header__description {
        text-align: left;
    }

    .header__image {
        width: 482px;
        height: 519px;
        padding: 0;
    }

    .main-section {
        padding: 140px 40px;
    }

    .getting-started__steps {
        position: relative;
        display: grid;
        grid-template-rows: 12px 56px 42px 56px 42px;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 132px;
        grid-row-gap: 135px;
    }

    .getting-started__step {
        width: 483px;
    }

    .register::after {
        width: 370px;
        height: 43px;
        left: 482px;
        top: 142px;
    }

    .verification::after {
        width: 370px;
        height: 75px;
        left: 245px;
        top: 302px;
    }

    .deposit-funds::after {
        width: 370px;
        height: 66px;
        left: 482px;
        top: 489px;
    }

    .people-love {
        display: flex;
        justify-content: space-between;
        width: 1098px;
        padding: 140px 0;
    }

    .people-love__heading {
        font-size: 56px;
        line-height: 66px;
    }

    .slider-wrapper {
        padding: 0;
        width: 585px;
    }

    .slide-content {
        align-items: start;
    }

    .slide-title {
        position: absolute;
        left: 115px;
    }

    .slide-subtitle {
        position: absolute;
        left: 115px;
        top: 38px;
    }

    .slide-subtitle::after {
        position: absolute;
        right: 275px;
        top: 30px;
    }

    .slide-description {
        text-align: start;
        width: 585px;
        height: 116px;
        padding-top: 17px;
    }

    .slider-buttons-wrapper {
        bottom: 65px;
        right: 983px;
        width: 112px;
    }



}